.container {
  display: flex;
  // justify-content: right;
  // align-items: center;
  flex-direction: row;
  gap: 10px;
.connect {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  // width: 155px;
  // flex-direction: column;
  padding: .8rem;
  background-color: rgba($color:#60a5fa, $alpha: 0.2);
  color: #60a5fa;
  height: 40px;
  line-height: 40px;
  border-radius: 15px;
  border: 2px solid white;
  font-weight: bold;
  font-size: 1rem;
  cursor: pointer;

  &:hover {
  //   box-shadow: 
  //     // rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
  //     // rgba(0, 0, 0, 0.034) 0px 0px 0px 1px;
  //     \\
  // }
    outline: 1px solid #60a5fa;
    outline-offset: -3px;
    border: 2px solid white;
    
    // margin-left: 12px;
  }
}

.chain {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  padding: .8rem;
  background-color: white;
  color: black;
  height: 40px;
  line-height: 40px;
  border-radius: 15px;
  border: 2px solid white;
  font-weight: bold;
  font-size: 1rem;
  margin-left: 10px;
  .chainLogo {
    width: 35px;
    padding-right: 15px;
    float: right;
  }
}

.addr {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 1rem;
  padding: .8rem;
  background-color: white;
  color: black;
  height: 40px;
  line-height: 40px;
  border-radius: 15px;
  border: 2px solid white;
  // font-weight: bold;
  font-size: 1rem;
  margin-left: 10px;
  .jazzIcon {
    margin-top: 9px;
    // width: 18px;
    // padding-left: 15px;
    
    // float: left;
  }
}

.chainError {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  padding: .8rem;
  background-color: #DA2D2B;
  color: white;
  height: 40px;
  line-height: 40px;
  border-radius: 15px;
  border: 2px solid white;
  // font-weight: bold;
  font-size: 1rem;
  margin-left: 10px;
}

.dropdown{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  padding: .5rem;
  background-color: white;
  color: black;
  height: 40px;
  line-height: 40px;
  border-radius: 15px;
  border: 2px solid white;
  // font-weight: bold;
  font-size: .7rem;
}

}

.walletBox {
  display: grid;
  grid-template-columns: repeat(1, fr);
  gap: 1rem;
  padding: 1rem;
  height: 100%;
  color: black;
  .head {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    color: black;
    .ask {
      color: black;
      font-size: 16px;
      font-weight: 600;
    }
    .closeBtn {
      all: unset;
      color: black;
      background-color: transparent;
      cursor: pointer;
    }
  }
  .wallets {
    display: grid;
    grid-template-columns: repeat(1, fr);
    gap: 1rem;
    width: 100%;
    color: black;
    .wallet {
      display: flex;
      justify-content: space-between;
      align-items: center;
      color: black;
      font-size: 16px;
      font-family: sans-serif;
      font-weight: 600;
      border: none;
      border-radius: 20px;
      width: 100%;
      background-color: rgb(237, 238, 242);
      border: 1px solid rgb(206, 208, 217);
      padding: .8rem;
      &:hover {
        border: 1px solid rgb(98, 144, 244);
      }
    }
    .alert {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 50px;
      // line-height: 20px;
      font-size: 16px;
      font-family: sans-serif;
      // font-weight: 600;
      border: none;
      border-radius: 20px;
      width: 100%;
      background-color: #DA2D2B;
      color: white;
      border: 1px solid rgb(206, 208, 217);
      // padding: 1rem;
    }
  }
}

.errorModal {
  display: flex;
  background: white;
  width: 1000px;
  height: 1000px;
  padding: 20px;
  color: red
}

.content {
  position: relative;
  margin: auto;
  top: 30vh;
  width: 600px;
  background-color: rgb(255, 255, 255);
  border-radius: 20px;
  padding: 0.3rem;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(65, 65, 65, 0.85);
  color: black
}

button {
  color:black;
  &:hover {
    cursor: pointer;
  }
}
.ReactModal__Body--open {
  overflow: hidden;
  position: fixed;
  width: 100%;
  height: 100%;
  color: black;
}

.walletDetails {
  border-radius: 1px solid black;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 15vw;
  .addressBox {
    padding: 0.5rem;
    background-color: rgba($color: wheat, $alpha: 0.5);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    .address {
      font-size: 1.3rem;
      color: black;
    }
  }
  .disconnect {
    all: unset;
    color: black;
    background-color: rgba($color: wheat, $alpha: 0.5);
    padding: 7px;
    border-radius: 5px;
    cursor: pointer;
    &:hover {
      box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
        rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
      background-color: rgba($color: wheat, $alpha: 0.8);
    }
  }
}

/* Phones */
@media only screen and (max-width: 600px) {
  .connect {
    padding: 0.5rem;
    font-size: .8rem;
  }
  .content {
    position: relative;
    margin: auto;
    // left: 5vw;
    // top: 20vh;
    width: 65%;
    background-color: white;
    border-radius: 20px;
    .walletBox {
      padding: 0.6rem;
      padding-bottom: 1rem;
    }
  }
}

/* Normal iPads */
@media only screen and (min-width: 600px) and (max-width: 768px) {
  .content {
    position: relative;
    margin: auto;
    // left: 25vw;
    // top: 25vh;
    // width: 50vw;
    width: 400px;
    background-color: white;
    border-radius: 20px;
    .walletBox {
      padding: 0.6rem;
      padding-bottom: 1rem;
    }
  }
}

/*laptops and Large iPads */
@media only screen and (min-width: 769px) and (max-width: 1100px) {
  .content {
    position: relative;
    margin: auto;
    // left: 25vw;
    // top: 25vh;
    // width: 50vw;
    width: 52%;
    background-color: white;
    border-radius: 20px;
    .walletBox {
      padding: 0.6rem;
      padding-bottom: 1rem;
    }
  }
}