.wrapper {
  display: flex;
  justify-content: center;
  align-items: top;
  flex-direction: column;
  padding: 1rem;
  width: 100%;
  .textCard {
    display: flex;
    flex-direction: column;
    width: 650px;
    justify-content: top;
    align-items: top;
    text-align: left;
    margin-bottom: 1rem;
    // background-color: rgb(255, 255, 255);
    // box-shadow: 0px 0px 25px rgb(190, 190, 190);
    font-size: 1.25rem;
    border-radius: 30px;
    padding: 3rem;
    border: 1px solid rgb(228, 206, 15);
    // font-weight: bold;
    .text {
      color: #394150;
      font-weight: lighter;
    }
  }
}
@supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
  .textCard {
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
  }
}

// MEDIA QUERIES FOLLOW

/* Phones */
@media only screen and (max-width: 600px) {
  .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    width: 100%;
    .textCard {
      display: flex;
      flex-direction: column;
      width: 100%;
      // justify-content: center;
      align-items: flex-start;
      text-align: center;
      margin-bottom: 1rem;
      color: rgb(236, 105, 24);
      font-size: 1.5rem;
      border-radius: 30px;
      padding: 1.2rem;
      border: 1px solid black;
      font-weight: bold;
      .text {
        color: #394150;
        font-weight: bolder;
        text-align: left;
      }
    }
  }
}

/* Normal iPads */
@media only screen and (min-width: 600px) and (max-width: 768px) {
}

/*laptops and Large iPads */
@media only screen and (min-width: 769px) and (max-width: 1100px) {
}

/*Them ultrawide boiis*/
@media only screen and (min-width: 1101) {
}
