.task {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background: rgba(0, 0, 0, 0.1);
  border: 1px solid black;
  border-radius: 20px;
  height: 20rem;
  padding: 1rem;
  &Header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    padding: 1rem;
    .infoPanel {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      width: 6rem;
      .round {
        border: 1px solid #282e39;
        color: white;
        padding: 0.5rem;
        border-radius: 5px;
        margin-bottom: 0.5rem;
        width: 100%;
        color: white;
        font-weight: bolder;
        background-color: rgba($color: red, $alpha: 0.4);
      }
      .reward {
        border: 1px solid #282e39;
        color: #282e39;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0.5rem;
        border-radius: 5px;
        width: 100%;
        font-weight: bolder;
        background-color: rgba($color: red, $alpha: 0.2);
        img {
          width: 40%;
        }
      }
    }
  }
  &Body {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: left;
    font-size: 1.5rem;
    font-weight: bolder;
    margin-bottom: 1rem;
    color: #282e39;
  }
  &Footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    .details {
      border: 1px solid #394150;
      background-color: rgba($color: pink, $alpha: 0.4);
      color: black;
      padding: 1rem;
      border-radius: 10px;
      width: 30%;
      font-weight: bolder;
      font-size: 1rem;
      &:hover {
        cursor: pointer;
        background-color: rgba($color: pink, $alpha: 1);
      }
    }
    .claim {
      border: 1px solid #394150;
      // background-color: rgba($color: rgb(0, 255, 195), $alpha: 0.3);
      background-color: rgba($color: orangered, $alpha: 0.3);
      color: black;
      padding: 1rem;
      border-radius: 10px;
      width: 30%;
      font-weight: bolder;
      font-size: 1rem;
      text-align: center;
      &:hover {
        cursor: pointer;
        // background-color: rgba($color: rgb(0, 255, 195), $alpha: 0.7);
        background-color: rgba($color: orangered, $alpha: 0.5);
      }
    }
    .claimDisabled {
      border: 1px solid #394150;
      // background-color: rgba($color: rgb(0, 255, 195), $alpha: 0.3);
      background-color: rgba($color: orangered, $alpha: 0.2);
      color: black;
      padding: 1rem;
      border-radius: 10px;
      width: 32%;
      font-weight: bolder;
      font-size: 1rem;
      text-align: center;
      &:hover {
        cursor: not-allowed;
      }
    }
  }
}

// MEDIA QUERIES FOLLOW

// Only change for super small phones
@media only screen and (max-width: 400px) {
  .task {
    &Body {
      font-size: 1.8rem;
    }
  }
}

/* Phones */
@media only screen and (max-width: 600px) {
}

/* Normal iPads */
@media only screen and (min-width: 600px) and (max-width: 768px) {
}

/*Large iPads */
@media only screen and (min-width: 769px) and (max-width: 1100px) {
}

// MEDIA QUERIES FOLLOW

/* Phones */
@media only screen and (max-width: 600px) {
}

/* Normal iPads */
@media only screen and (min-width: 600px) and (max-width: 768px) {
}

/*Large iPads */
@media only screen and (min-width: 769px) and (max-width: 1100px) {
}
