.titleCard {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  padding: 1rem;
  .title {
    background: #c084fc;
    background: -webkit-linear-gradient(to right, #c084fc 0%, #60a5fa 100%);
    background: -moz-linear-gradient(to right, #c084fc 0%, #60a5fa 100%);
    background: linear-gradient(to right, #c084fc 0%, #60a5fa 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 6rem;
    font-weight: 800;
  }
  .showcase {
    width: 40%;
    .imgCard {
      border-radius: 30px;
    }
  }
}

// MEDIA QUERIES FOLLOW

/* Phones */
@media only screen and (max-width: 360px) {
  .titleCard {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    padding: 1rem;
    .title {
      font-size: 2.6rem;
      font-weight: 800;
      width: 100%;
      padding: 0rem;
      text-align: center;
    }
    .showcase {
      width: 100%;
      .imgCard {
        border-radius: 30px;
      }
    }
  }
}
@media only screen and (min-width: 361px) and (max-width: 599px) {
  .titleCard {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    padding: 1rem;
    .title {
      font-size: 3.1rem;
      font-weight: 800;
      width: 100%;
      padding: 0rem;
      text-align: center;
    }
    .showcase {
      width: 100%;
      .imgCard {
        border-radius: 30px;
      }
    }
  }
}

/* Normal iPads */
@media only screen and (min-width: 600px) and (max-width: 768px) {
  .titleCard {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 1rem;
    // height: 80vh;
    .title {
      font-size: 3.5rem;
      font-weight: 800;
      width: 100%;
      padding: 0rem;
      text-align: center;
    }
    .showcase {
      width: 70%;
      .imgCard {
        border-radius: 30px;
      }
    }
  }
}

/*laptops and Large iPads */
@media only screen and (min-width: 769px) and (max-width: 1100px) {
  .titleCard {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 1rem;
    // height: 80vh;
    .title {
      font-size: 5rem;
      font-weight: 800;
      width: 100%;
      padding: 0rem;
      text-align: center;
    }
    .showcase {
      width: 70%;
      .imgCard {
        border-radius: 30px;
      }
    }
  }
}

/*Them ultrawide boiis*/
@media only screen and (min-width: 1101) {
}
